* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #ffffff;
  --links-hovact: #ff6565;
  --btn-opacity: 0.9;
  --max-width: 1000px;
  --content-max-width: 637px;
  --font-family: "Source Sans Pro";
  --main-lineHeight: 100%;
  --text-lineHeight: 26px;
  --text-spacing: 40px;
  --main-font-weight: 700;
  --second-font-weight: 600;
  --third-font-weight: 400;
  --title-size: 32px;
  --text-size: 16px;
  --text-center: center;
  --transition: 0.2s;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.global--link:hover,
.global--link:active {
  color: var(--links-hovact);
  transition: var(--transition);
}
button:hover,
button:active {
  opacity: var(--btn-opacity);
}
body {
  position: relative;
  font-family: var(--font-family);
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 21px;
}
.action-btn {
  width: 162px;
  height: 44px;
  background-color: #ff6565;
  border-radius: 22px;
  border: none;
  color: var(--main-color);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  box-shadow: 0px 2px 20px 0px #00000080;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-ExtraLight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-Semibold.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-ExtraLightIt.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* Header */
header {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  width: 161px;
}
.header__left img {
  width: 100%;
}
.header__right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--text-spacing);
}
.header__right ul a {
  color: var(--main-color);
  font-weight: var(--main-font-weight);
  font-size: 12px;
}
.header .menu-btn {
  display: none;
}
.header .menu-icon {
  cursor: pointer;
  position: relative;
  user-select: none;
  display: none;
}
.header .menu-icon .navicon,
.header .menu-icon .navicon::before,
.header .menu-icon .navicon::after {
  height: 2px;
}

.header .menu-icon .navicon {
  background: var(--main-color);
  display: block;
  width: 13px;
  position: relative;
  transition: background var(--transition) ease-out;
}
.header .menu-icon .navicon::before,
.header .menu-icon .navicon::after {
  content: "";
  width: 20px;
  position: absolute;
  display: block;
  background-color: var(--main-color);
  transition: all var(--transition) ease-out;
}
.header .menu-icon .navicon::before {
  top: -7px;
}
.header .menu-icon .navicon::after {
  top: 7px;
}
.menu-btn:checked ~ .header__right {
  display: block;
}
.menu-btn:checked ~ .header__right ul {
  max-height: 100%;
  overflow: inherit;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-50deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(50deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon::before,
.header .menu-btn:checked ~ .menu-icon .navicon::after {
  top: 0;
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 677px;
  }
  .header {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 480px) {
  .header__left {
    margin: 0 auto;
  }
  .header .menu-icon {
    display: block;
  }
  .header__right {
    display: none;
    padding-top: 30px;
    width: 100%;
  }
  .header__right ul {
    flex-direction: column;
    gap: 45px;
  }
  .header__right ul a {
    font-size: var(--text-size);
  }
}

/* Main */
#hero {
  position: relative;
  background-image: url(images/headphones_hero_1.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__section {
  max-width: var(--content-max-width);
  position: absolute;
  top: 45%;
  margin: 0 auto;
  padding: 0 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__section h1 {
  font-size: var(--title-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-lineHeight);
  color: var(--main-color);
  padding-bottom: 5px;
  text-align: var(--text-center);
}
.hero__section p {
  color: var(--main-color);
  font-size: var(--text-size);
  text-align: var(--text-center);
}
.hero__section h1 + p {
  font-weight: var(--main-font-weight);
  line-height: var(--main-lineHeight);
  padding-bottom: 40px;
}
.hero__section button + p {
  line-height: var(--text-lineHeight);
  font-weight: var(--third-font-weight);
  padding-top: 60px;
}
@media only screen and (max-width: 480px) {
  #hero {
    background-position: 35%;
  }
  .hero__section {
    top: 41%;
  }
}
