* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$main-color: #ffffff;
$secondary-color: #071629;
$links-hovact: #ff6565;
$btn-opacity: 0.9;
$max-width: 1000px;
$content-max-width: 637px;
$font-family: "Source Sans Pro";
$main-lineHeight: 100%;
$text-lineHeight: 26px;
$text-spacing: 40px;
$main-font-weight: 700;
$second-font-weight: 500;
$third-font-weight: 400;
$title-size: 32px;
$text-size: 14px;
$text-center: center;
$transition: 0.2s;
$section-padding: 100px 0;
@mixin flexbox($justify, $align, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}
:root{
  scroll-behavior: smooth;
}
h1,
h2 {
  font-size: $title-size;
  line-height: $main-lineHeight;
  text-align: $text-center;
}

h2,
h3 {
  font-weight: $second-font-weight;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.global--link {
  &:hover,
  &:active {
    color: $links-hovact;
    transition: $transition;
  }
}

button {
  &:hover,
  &:active {
    opacity: $btn-opacity;
  }
}

body {
  position: relative;
  font-family: $font-family;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 21px;
}

.action-btn {
  width: 162px;
  height: 44px;
  background-color: #ff6565;
  border-radius: 22px;
  border: none;
  color: $main-color;
  font-weight: $main-font-weight;
  font-size: $text-size;
  box-shadow: 0px 2px 20px 0px #00000080;
}

.global--description {
  line-height: $text-lineHeight;
  font-weight: $third-font-weight;
  text-align: $text-center;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-ExtraLight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-Semibold.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-ExtraLightIt.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Header */

header {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 1;
}

.header {
  @include flexbox(space-between, center);
}

.header__left {
  width: 161px;

  img {
    width: 100%;
  }
}

.header__right {
  ul {
    @include flexbox(center, center, row, $text-spacing);
    a {
      color: $main-color;
      font-weight: $main-font-weight;
      font-size: 12px;
    }
  }
}

.header {
  .menu-btn {
    display: none;
  }

  .menu-icon {
    cursor: pointer;
    position: relative;
    user-select: none;
    display: none;

    .navicon {
      height: 2px;

      &::before,
      &::after {
        height: 2px;
      }

      background: $main-color;
      display: block;
      width: 13px;
      position: relative;
      transition: background $transition ease-out;

      &::before,
      &::after {
        content: "";
        width: 20px;
        position: absolute;
        display: block;
        background-color: $main-color;
        transition: all $transition ease-out;
      }

      &::before {
        top: -7px;
      }

      &::after {
        top: 7px;
      }
    }
  }
}

.menu-btn:checked ~ .header__right {
  display: block;

  ul {
    max-height: 100%;
    overflow: inherit;
  }
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;

  &::before {
    transform: rotate(-50deg);
  }

  &::after {
    transform: rotate(50deg);
  }

  &::before,
  &::after {
    top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 677px;
  }

  .header {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 480px) {
  .header__left {
    margin: 0 auto;
  }

  .header .menu-icon {
    display: block;
  }

  .header__right {
    display: none;
    padding-top: 30px;
    width: 100%;

    ul {
      flex-direction: column;
      gap: 45px;

      a {
        font-size: $text-size;
      }
    }
  }
}

/* Main */
/* Hero Section */

#hero {
  position: relative;
  background-image: url(images/headphones_hero_1.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include flexbox(center, center);
}

.hero__section {
  max-width: $content-max-width;
  position: absolute;
  top: 45%;
  margin: 0 auto;
  padding: 0 7px;
  @include flexbox(center, center, column);
  h1 {
    color: $main-color;
    padding-bottom: 5px;
  }

  p {
    color: $main-color;
    text-align: $text-center;
  }

  h1 + p {
    font-weight: $main-font-weight;
    padding-bottom: 40px;
  }

  button + p {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 600px) {
  #hero {
    height: 800px;
  }
}

@media only screen and (max-width: 480px) {
  #hero {
    background-position: 35%;
  }

  .hero__section {
    top: 41%;
  }
}

@media only screen and (max-width: 350px) {
  #hero {
    height: 869px;
  }
}

/* Blog section */

#blog {
  padding: $section-padding;

  .blog__div {
    @include flexbox(center, center, column, 80px);
  }
}

.blog__div__top {
  @include flexbox(center, center, column, $text-spacing);
  max-width: $content-max-width;
}

.blog__div__bottom {
  width: $max-width;
}

.blog__div__bottom__cards {
  @include flexbox(space-around, flex-end);
  flex-wrap: wrap;
}

.blog__div__bottom__card {
  width: 207px;
  @include flexbox(center, center, column, 25px);

  img:hover {
    transform: rotate(360deg);
    transition: 0.6s ease-in-out;
  }

  p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1094px) {
  .blog__div__bottom {
    width: 80%;
  }

  .blog__div__bottom__cards {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1035px) {
  .blog__div__bottom {
    height: 469px;
  }

  .blog__div__bottom__cards {
    height: 100%;
    align-content: space-between;
  }
}

@media only screen and (max-width: 777px) {
  .blog__div__bottom__cards {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 690px) {
  .blog__div__top {
    padding: 0 21px;
  }

  .blog__div__bottom {
    width: 207px;
    height: 1000px;
  }

  .blog__div__bottom__cards {
    justify-content: center;
    align-content: space-between;
  }
}

/* Results section */

#results {
  background-image: url(images/headphones_hero_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: $section-padding;
  width: 100%;
}

.results__div {
  @include flexbox(center, center, column, 80px);
}

.results__div__top {
  max-width: $content-max-width;
  @include flexbox(center, center, column, $text-spacing);

  h2,
  p {
    color: $main-color;
  }
}

.results__div__bottom {
  width: $max-width;
}

.results__div__bottom__cards {
  @include flexbox(space-around, center);
  flex-wrap: wrap;
}

.results__div__bottom__card {
  position: relative;
  width: 190px;

  p {
    position: absolute;
  }

  img {
    width: 100%;
  }

  &:hover {
    transform: scale(1.1);
    transition: $transition ease-out;
  }

  img + p {
    top: 70px;
    left: 51px;
    font-size: 46px;
    color: $main-color;
    font-weight: $main-font-weight;
  }

  p + p {
    color: $main-color;
    font-size: $text-size;
    bottom: 35px;
    left: 40px;
  }
}

@media only screen and (max-width: 1094px) {
  .results__div__bottom {
    width: 88%;
  }
}

@media only screen and (max-width: 895px) {
  .results__div__bottom__cards {
    gap: 50px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 760px) {
  .results__div__bottom__cards {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 690px) {
  .results__div__top {
    padding: 0 21px;
  }
}

@media only screen and (max-width: 500px) {
  .results__div__bottom__cards {
    justify-content: center;
  }
}

/* Contact us section */

#contact {
  padding: $section-padding;
}

.contact__div {
  @include flexbox(center, center, column, 70px);

  form {
    @include flexbox(center, center, column, 50px);
    width: 335px;

    input {
      border: none;
      border-bottom: 1px solid #0716292d;
      outline: none;
      width: 100%;
      padding-bottom: 15px;
    }
  }
}

textarea {
  border: none;
  border-bottom: 1px solid #0716292d;
  outline: none;
  width: 100%;
  padding-bottom: 15px;
}

.contact__div form input::placeholder,
textarea::placeholder {
  color: black;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.contact__div form button {
  box-shadow: none;
}

@media only screen and (max-width: 340px) {
  .contact__div form {
    width: 100%;
  }
}

/* Footer */

footer {
  background-color: $secondary-color;
  padding: 40px 0 30px;
}

.footer {
  @include flexbox(space-between, center);
  padding-top: 30px;
}

.footer__middle {
  padding-top: 50px;
  p {
    font-size: $text-size;
    color: $main-color;
    font-weight: 300;
    text-align: center;
  }
}

.footer__left {
  width: 161px;

  img {
    width: 100%;
  }
}

.footer__right ul {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    gap: $text-spacing;
  }
}
